.env
.env.*
!.env.example
!.env.railway.example
vendor
node_modules
public/build
public/hot
public/storage
storage/*.key
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/framework/testing/*
coverage
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.fleet
.idea
.vscode
.DS_Store
*.tgz
*.tar.gz
.updater
*.log.wrangler/
public/vendor/
composer.phar
